.blr-checkbox {
  all: initial;
  display: flex;
  position: relative;
  align-items: flex-start;
  transition: all 0.25s ease 0s;
}
.blr-checkbox .input-control {
  all: initial;
  position: absolute;
}
.blr-checkbox .visual-checkbox {
  all: initial;
  display: inline-block;
  margin: 0;
  position: relative;
  transition: all 0.25s ease 0s;
  overflow: hidden;
  outline-style: solid;
}
.blr-checkbox .visual-checkbox .checker-icon {
  position: absolute;
}
.blr-checkbox .label-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.blr-checkbox .label-wrapper .hint-wrapper,
.error-wrapper {
  flex-basis: 100%;
}
:is(.blr-checkbox .label-wrapper .hint-wrapper, .error-wrapper) .blr-form-hint {
  gap: 0px;
}
.blr-checkbox .label-wrapper .blr-form-label-inline {
  font-family: Source Sans Pro, 'sans-serif';
}
.blr-checkbox .focus-wrapper {
  position: relative;
}
.blr-checkbox .focus-wrapper .focus-ring {
  position: absolute;
  inset: 0;
  outline-color: transparent;
}
.blr-checkbox.sm {
  gap: 8px;
}
.blr-checkbox.sm .visual-checkbox {
  width: 16px;
  height: 16px;
  margin-top: 0px;
  border-radius: 2px;
}
.blr-checkbox.sm .label-wrapper,
.blr-checkbox.sm .visual-checkbox {
  padding-top: 0rem;
  gap: 0px;
}
:is(.blr-checkbox.sm .label-wrapper, .blr-checkbox.sm .visual-checkbox) .blr-form-label-inline {
  font-weight: 400;
  line-height: 1rem;
  font-size: 0.875rem;
}
.blr-checkbox.md {
  gap: 8px;
}
.blr-checkbox.md .visual-checkbox {
  width: 16px;
  height: 16px;
  margin-top: 0.25rem;
  border-radius: 2px;
}
.blr-checkbox.md .label-wrapper {
  padding-top: 0rem;
  gap: 0px;
}
.blr-checkbox.md .label-wrapper .blr-form-label-inline {
  font-weight: 400;
  line-height: 1.5rem;
  font-size: 1rem;
}
.blr-checkbox.lg {
  gap: 12px;
}
.blr-checkbox.lg .visual-checkbox {
  width: 20px;
  height: 20px;
  margin-top: 0.125rem;
  border-radius: 2px;
}
.blr-checkbox.lg .label-wrapper {
  padding-top: 0rem;
  gap: 0px;
}
.blr-checkbox.lg .label-wrapper .blr-form-label-inline {
  font-weight: 400;
  line-height: 1.5rem;
  font-size: 1.25rem;
}
.blr-checkbox .label-wrapper {
}
.blr-checkbox .label-wrapper:not(.disabled) {
}
.blr-checkbox .label-wrapper:not(.disabled):not(.error) {
  color: hsla(0, 0%, 100%, 1);
}
.blr-checkbox .label-wrapper:not(.disabled):not(.error):hover {
}
.blr-checkbox .label-wrapper:not(.disabled):not(.error):hover:not(.readonly) {
  color: hsla(0, 0%, 100%, 1);
}
.blr-checkbox .label-wrapper:not(.disabled):not(.error).focus {
  color: hsla(0, 0%, 100%, 1);
}
.blr-checkbox .label-wrapper:not(.disabled):not(.error).active {
}
.blr-checkbox .label-wrapper:not(.disabled):not(.error).active:not(.readonly) {
  color: hsla(0, 0%, 100%, 1);
}
.blr-checkbox .label-wrapper:not(.disabled):not(.error).readonly {
  color: hsla(0, 0%, 100%, 1);
}
.blr-checkbox .label-wrapper:not(.disabled):not(.error).readonly .blr-form-label-inline {
  cursor: not-allowed !important;
  pointer-events: none;
}
.blr-checkbox .label-wrapper.error {
  color: hsla(350, 65%, 60%, 1);
}
.blr-checkbox .label-wrapper.disabled {
}
.blr-checkbox .label-wrapper.disabled .blr-form-label-inline {
  cursor: not-allowed;
  color: hsla(220, 10%, 40%, 1);
}
.blr-checkbox .visual-checkbox {
}
.blr-checkbox .visual-checkbox .checker-icon {
  color: #00000000;
}
.blr-checkbox .visual-checkbox.disabled {
  cursor: not-allowed;
}
.blr-checkbox .visual-checkbox.disabled .checker-icon {
  color: #00000000;
}
.blr-checkbox .visual-checkbox.readonly {
  pointer-events: none;
}
.blr-checkbox .visual-checkbox:not(.error) {
}
.blr-checkbox .visual-checkbox:not(.error).checked {
  background-color: hsla(220, 65%, 40%, 1);
  outline-color: #00000000;
}
.blr-checkbox .visual-checkbox:not(.error).checked .checker-icon {
  color: hsla(0, 0%, 100%, 1);
}
.blr-checkbox .visual-checkbox:not(.error).checked.hover {
}
.blr-checkbox .visual-checkbox:not(.error).checked.hover:not(.disabled):not(.readonly) {
  background-color: hsla(220, 65%, 50%, 1);
  outline-color: #00000000;
}
.blr-checkbox .visual-checkbox:not(.error).checked.hover:not(.disabled):not(.readonly) .checker-icon {
  color: hsla(0, 0%, 100%, 1);
}
.blr-checkbox .visual-checkbox:not(.error).checked.focus {
  background-color: hsla(220, 65%, 40%, 1);
  outline-color: #00000000;
}
.blr-checkbox .visual-checkbox:not(.error).checked.focus .checker-icon {
  color: hsla(0, 0%, 100%, 1);
}
.blr-checkbox .visual-checkbox:not(.error).checked.active {
}
.blr-checkbox .visual-checkbox:not(.error).checked.active:not(:disabled):not([readonly]) {
  background-color: hsla(220, 65%, 60%, 1);
  outline-color: #00000000;
}
.blr-checkbox .visual-checkbox:not(.error).checked.active:not(:disabled):not([readonly]) .checker-icon {
  color: hsla(0, 0%, 100%, 1);
}
.blr-checkbox .visual-checkbox:not(.error).checked.disabled {
  background-color: hsla(220, 10%, 30%, 1);
  outline-color: #00000000;
}
.blr-checkbox .visual-checkbox:not(.error).checked.disabled .checker-icon {
  color: hsla(220, 10%, 10%, 1);
}
.blr-checkbox .visual-checkbox:not(.error).checked.readonly {
  background-color: hsla(220, 10%, 30%, 1);
  outline-color: #00000000;
}
.blr-checkbox .visual-checkbox:not(.error).checked.readonly .checker-icon {
  color: hsla(220, 10%, 10%, 1);
}
.blr-checkbox .visual-checkbox:not(.error):not(.checked) {
  background-color: hsla(0, 0%, 100%, 1);
  outline-color: hsla(220, 65%, 60%, 1);
}
.blr-checkbox .visual-checkbox:not(.error):not(.checked) .checker-icon {
  color: #00000000;
}
.blr-checkbox .visual-checkbox:not(.error):not(.checked).hover {
}
.blr-checkbox .visual-checkbox:not(.error):not(.checked).hover:not(.disabled):not(.readonly) {
  background-color: hsla(0, 0%, 100%, 1);
  outline-color: hsla(220, 65%, 70%, 1);
}
.blr-checkbox .visual-checkbox:not(.error):not(.checked).hover:not(.disabled):not(.readonly) .checker-icon {
  color: #00000000;
}
.blr-checkbox .visual-checkbox:not(.error):not(.checked).focus {
  background-color: hsla(0, 0%, 100%, 1);
  outline-color: hsla(220, 65%, 60%, 1);
}
.blr-checkbox .visual-checkbox:not(.error):not(.checked).focus .checker-icon {
  color: #00000000;
}
.blr-checkbox .visual-checkbox:not(.error):not(.checked).active {
}
.blr-checkbox .visual-checkbox:not(.error):not(.checked).active:not(.disabled):not(.readonly) {
  background-color: hsla(0, 0%, 100%, 1);
  outline-color: hsla(220, 65%, 80%, 1);
}
.blr-checkbox .visual-checkbox:not(.error):not(.checked).active:not(.disabled):not(.readonly) .checker-icon {
  color: #00000000;
}
.blr-checkbox .visual-checkbox:not(.error):not(.checked).disabled {
  background-color: hsla(220, 10%, 10%, 1);
  outline-color: hsla(220, 10%, 30%, 1);
}
.blr-checkbox .visual-checkbox:not(.error):not(.checked).disabled .checker-icon {
  color: #00000000;
}
.blr-checkbox .visual-checkbox:not(.error):not(.checked).readonly {
  background-color: hsla(220, 10%, 10%, 1);
  outline-color: hsla(220, 10%, 20%, 1);
}
.blr-checkbox .visual-checkbox:not(.error):not(.checked).readonly .checker-icon {
  color: #00000000;
}
.blr-checkbox .visual-checkbox.error {
}
.blr-checkbox .visual-checkbox.error.checked {
  background-color: hsla(350, 65%, 60%, 1);
  outline-color: #00000000;
}
.blr-checkbox .visual-checkbox.error.checked .checker-icon {
  color: hsla(0, 0%, 100%, 1);
}
.blr-checkbox .visual-checkbox.error:not(.checked) {
  background-color: hsla(0, 0%, 100%, 1);
  outline-color: hsla(350, 65%, 60%, 1);
}
.blr-checkbox .visual-checkbox.error:not(.checked) .checker-icon {
  color: #00000000;
}
.blr-checkbox.sm {
}
.blr-checkbox.sm:not(.error) {
  focus-ring.focus {
    outline-width: 2px;
    outline-offset: 2px;
    outline-color: black;
  }
  .blr-checkbox.sm .visual-checkbox {
    outline-width: 1px;
    outline-offset: calc(1px * -1);
  }
  .blr-checkbox.sm .visual-checkbox .checker-icon {
    width: 16px;
    height: 16px;
  }
  .blr-checkbox.sm .visual-checkbox.hover {
  }
  .blr-checkbox.sm .visual-checkbox.hover:not(.disabled):not(.readonly) {
    outline-width: 1px;
    outline-offset: calc(1px * -1);
  }
  .blr-checkbox.sm .visual-checkbox.hover:not(.disabled):not(.readonly) .checker-icon {
    width: 16px;
    height: 16px;
  }
  .blr-checkbox.sm .visual-checkbox.focus {
    outline-width: 1px;
    outline-offset: calc(1px * -1);
  }
  .blr-checkbox.sm .visual-checkbox.focus .checker-icon {
    width: 16px;
    height: 16px;
  }
  .blr-checkbox.sm .visual-checkbox.active {
  }
  .blr-checkbox.sm .visual-checkbox.active:not(.disabled):not(.readonly) {
    outline-width: 1px;
    outline-offset: calc(1px * -1);
  }
  .blr-checkbox.sm .visual-checkbox.active:not(.disabled):not(.readonly) .checker-icon {
    width: 16px;
    height: 16px;
  }
  .blr-checkbox.sm .visual-checkbox.disabled {
    outline-width: 1px;
    outline-offset: calc(1px * -1);
  }
  .blr-checkbox.sm .visual-checkbox.disabled .checker-icon {
    width: 16px;
    height: 16px;
  }
  .blr-checkbox.sm .visual-checkbox.readonly {
    outline-width: 1px;
    outline-offset: calc(1px * -1);
  }
  .blr-checkbox.sm .visual-checkbox.readonly .checker-icon {
    width: 16px;
    height: 16px;
  }
  .blr-checkbox.sm .visual-checkbox.checked {
    outline-width: 0px;
    outline-offset: calc(0px * -1);
  }
  .blr-checkbox.sm .visual-checkbox.checked.hover {
  }
  .blr-checkbox.sm .visual-checkbox.checked.hover:not(.disabled):not(.readonly) {
    outline-width: 0px;
    outline-offset: calc(0px * -1);
  }
  .blr-checkbox.sm .visual-checkbox.checked.focus {
    outline-width: 0px;
    outline-offset: calc(0px * -1);
  }
  .blr-checkbox.sm .visual-checkbox.checked.active {
  }
  .blr-checkbox.sm .visual-checkbox.checked.active:not(.disabled):not(.readonly) {
    outline-width: 0px;
    outline-offset: calc(0px * -1);
  }
  .blr-checkbox.sm .visual-checkbox.checked.disabled {
    outline-width: 0px;
    outline-offset: calc(0px * -1);
  }
  .blr-checkbox.sm .visual-checkbox.checked.readonly {
    outline-width: 0px;
    outline-offset: calc(0px * -1);
  }
  .blr-checkbox.error {
    focus-ring.focus {
      outline-width: 2px;
      outline-offset: 2px;
      outline-color: black;
    }
    .blr-checkbox .visual-checkbox {
    }
    .blr-checkbox .visual-checkbox .checker-icon {
      width: 16px;
      height: 16px;
    }
    .blr-checkbox .visual-checkbox:not(.checked) {
      outline-width: 1px;
      outline-offset: calc(1px * -1);
    }
    .blr-checkbox .visual-checkbox.checked {
      outline-width: 0px;
      outline-offset: calc(0px * -1);
    }
    .md {
    }
    .md:not(.error) {
      focus-ring.focus {
        outline-width: 2px;
        outline-offset: 2px;
        outline-color: black;
      }
      .md .visual-checkbox {
      }
      .md .visual-checkbox:not(.checked) {
        outline-width: 1px;
        outline-offset: calc(1px * -1);
      }
      .md .visual-checkbox:not(.checked).hover {
      }
      .md .visual-checkbox:not(.checked).hover.not(.disabled):not(.readonly) {
        outline-width: 1px;
        outline-offset: calc(1px * -1);
      }
      .md .visual-checkbox:not(.checked).focus {
        outline-width: 1px;
        outline-offset: calc(1px * -1);
      }
      .md .visual-checkbox:not(.checked).active {
      }
      .md .visual-checkbox:not(.checked).active:not(.disabled):not(.readonly) {
        outline-width: 1px;
        outline-offset: calc(1px * -1);
      }
      .md .visual-checkbox:not(.checked).disabled {
        outline-width: 1px;
        outline-offset: calc(1px * -1);
      }
      .md .visual-checkbox:not(.checked).readonly {
        outline-width: 1px;
        outline-offset: calc(1px * -1);
      }
      .md .visual-checkbox.checked {
        outline-width: 0px;
        outline-offset: calc(0px * -1);
      }
      .md .visual-checkbox.checked.hover {
      }
      .md .visual-checkbox.checked.hover:not(.disabled):not(.readonly) {
        outline-width: 0px;
        outline-offset: calc(0px * -1);
      }
      .md .visual-checkbox.checked.focus {
        outline-width: 0px;
        outline-offset: calc(0px * -1);
      }
      .md .visual-checkbox.checked.active {
      }
      .md .visual-checkbox.checked.active:not(.disabled):not(.readonly) {
        outline-width: 0px;
        outline-offset: calc(0px * -1);
      }
      .md .visual-checkbox.checked.disabled {
        outline-width: 0px;
        outline-offset: calc(0px * -1);
      }
      .md .visual-checkbox.checked.readonly {
        outline-width: 0px;
        outline-offset: calc(0px * -1);
      }
      .error {
        focus-ring.focus {
          outline-width: 2px;
          outline-offset: 2px;
          outline-color: black;
        }
        .visual-checkbox {
        }
        .visual-checkbox:not(.checked) {
          outline-width: 1px;
          outline-offset: calc(1px * -1);
        }
        .visual-checkbox.checked {
          outline-width: 0px;
          outline-offset: calc(0px * -1);
        }
        .visual-checkbox:not(.checked) {
          outline-width: 1px;
          outline-offset: calc(1px * -1);
        }
        .visual-checkbox.checked {
          outline-width: 0px;
          outline-offset: calc(0px * -1);
        }
        .lg {
        }
        .lg:not(.error) {
          focus-ring.focus {
            outline-width: 2px;
            outline-offset: 2px;
            outline-color: black;
          }
          .lg .visual-checkbox {
          }
          .lg .visual-checkbox:not(.checked) {
            outline-width: 1px;
            outline-offset: calc(1px * -1);
          }
          .lg .visual-checkbox:not(.checked).hover {
          }
          .lg .visual-checkbox:not(.checked).hover:not(.disabled):not(.readonly) {
            outline-width: 1px;
            outline-offset: calc(1px * -1);
          }
          .lg .visual-checkbox:not(.checked).focus {
            outline-width: 1px;
            outline-offset: calc(1px * -1);
          }
          .lg .visual-checkbox:not(.checked).active {
          }
          .lg .visual-checkbox:not(.checked).active:not(:disabled):not(.readonly) {
            outline-width: 1px;
            outline-offset: calc(1px * -1);
          }
          .lg .visual-checkbox:not(.checked).disabled {
            outline-width: 1px;
            outline-offset: calc(1px * -1);
          }
          .lg .visual-checkbox:not(.checked).readonly {
            outline-width: 1px;
            outline-offset: calc(1px * -1);
          }
          .lg .visual-checkbox.checked {
            outline-width: 0px;
            outline-offset: calc(0px * -1);
          }
          .lg .visual-checkbox.checked.hover {
          }
          .lg .visual-checkbox.checked.hover:not(.disabled):not(.readonly) {
            outline-width: 0px;
            outline-offset: calc(0px * -1);
          }
          .lg .visual-checkbox.checked.focus {
            outline-width: 0px;
            outline-offset: calc(0px * -1);
          }
          .lg .visual-checkbox.checked.active {
          }
          .lg .visual-checkbox.checked.active:not(.disabled):not(.readonly) {
            outline-width: 0px;
            outline-offset: calc(0px * -1);
          }
          .lg .visual-checkbox.checked.disabled {
            outline-width: 0px;
            outline-offset: calc(0px * -1);
          }
          .lg .visual-checkbox.checked.readonly {
            outline-width: 0px;
            outline-offset: calc(0px * -1);
          }
          .error:not(.disbaled) {
            focus-ring.focus {
              outline-width: 2px;
              outline-offset: 2px;
              outline-color: black;
            }
          }
        }
      }
    }
  }
}
